@model CurrencyConverter
@{
    decimal priceRUB = 1000;
}

<div>
    Цена товара в российских рублях: @priceRUB руб.

    <div>
        @($"Курс доллара: {Model.USD}, Цена в долларах: {Decimal.Round(Model.ConvertToUSD(priceRUB), 2)}")
    </div>

    <div>
        @($"Курс евро: {Model.EUR}, Цена в евро: {Decimal.Round(Model.ConvertToEUR(priceRUB), 2)}")
    </div>

    <div>
        @*Nominal for KZT = 100 (According to the Central Bank of Russia)*@
        @($"Курс тенге: {Model.KZT / 100}, Цена в тенге: {Decimal.Round(Model.ConvertToKZT(priceRUB), 2)}")
    </div>
</div>